.row{
    margin-top: 15px;
}
.navbar{
    margin-bottom: 30px;
}

.nav-link:hover {
  color: #00c6a7 !important;
  transform: scale(1.05);
  transition: 0.3s;
}
.titulo-degrade {
  background: linear-gradient(135deg, #1e90ff, #00c6a7);
  color: #fff;
  padding: 35px;
  border-radius: 15px;
  text-align: center;
}

.titulo-mvv{
font-size: 26px;
font-weight: 700;
text-align: center;
color:#1e90ff;
margin-bottom: 15px;


}


